/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/

/*@font-face {
  font-family: Kanit;
  src:url("/fonts/Kanit-Regular.ttf");
}*/


:root {
  --white-color:                  #ffffff;
  --primary-color:                #d6a354;
  --secondary-color:              #c12828;
  --section-bg-color:             #f0f8ff;
  --custom-btn-bg-color:          #c12828;
  --custom-btn-bg-hover-color:    #FDBB2D;
  --dark-color:                   #000000;
  --p-color:                      #717275;
  --border-color:                 #7fffd4;
  --link-hover-color:             #B22727;

  --priCol: #d6a354;
  --secCol: #9BCDD2;
  --thiCol: #A4D0A4;

  --body-font-family:            'Noto Sans Thai'; /*'Kanit';*/

  --h1-font-size:                 50px;
  --h2-font-size:                 46px;
  --h3-font-size:                 32px;
  --h4-font-size:                 28px;
  --h5-font-size:                 24px;
  --h6-font-size:                 22px;
  --p-font-size:                  20px;
  --btn-font-size:                16px;
  --copyright-font-size:          20px;

  --border-radius-large:          100px;
  --border-radius-medium:         20px;
  --border-radius-small:          10px;

  --font-weight-thin:             200;
  --font-weight-light:            300;
  --font-weight-normal:           400;
  --font-weight-bold:             700;
}

body {
  background-color: var(--white-color);
  font-family: var(--body-font-family);
}


/*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/

h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}

ul li {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}

a, 
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  display: inline-block;
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}



.f-sm{
  font-size: 0.8rem;
}
.f-lg{
  font-size: 1.4rem;
}
.f-xl{
  font-size: 1.6rem;
}
.f-xxl{
  font-size: 1.8rem;
}

/*---------------------------------------
  SECTION               
-----------------------------------------*/
.section-padding {
  padding: 100px 50px;
}

.section-bg {
  background-color: var(--section-bg-color);
}

.section-overlay {
  background-color: var(--dark-color);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  opacity: 0.45;
}

.section-overlay + .container {
  position: relative;
}

.back-top-icon {
  font-size: var(--h2-font-size);
}


/*---------------------------------------
  CUSTOM BLOCK BACKGROUND OVERLAY               
-----------------------------------------*/
.custom-block-bg-overlay-wrap {
  background: var(--primary-color);
  border-radius: var(--border-radius-medium);
  transition: all 0.3s ease;
}

.custom-block-bg-overlay-wrap:hover {
  background: linear-gradient(90deg, #FDBB2D 0%, #22C1C3 100%);
  transform: scale(1.05);
}

.custom-block-bg-overlay-image {
  border-radius: var(--border-radius-medium);
  display: block;
  margin: auto;
  height: 100%;
  object-fit: cover;
  transform: rotate(8deg);
}

.custom-block-bg-overlay-wrap:hover .team-info {
  bottom: 5px;
}


/*---------------------------------------
  CUSTOM BUTTON               
-----------------------------------------*/
.custom-btn {
  background: var(--custom-btn-bg-color);
  border: 2px solid transparent;
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--btn-font-size);
  font-weight: var(--font-weight-bold);
  line-height: normal;
  transition: all 0.3s;
  padding: 10px 20px;
}

.custom-btn:hover {
  background: var(--custom-btn-bg-hover-color);
  color: var(--white-color);
}

.custom-border-btn {
  background: transparent;
  border: 2px solid var(--custom-btn-bg-color);
  color: var(--custom-btn-bg-color);
}

.custom-btn-bg-white {
  border-color: var(--white-color);
  color: var(--white-color);
}

.custom-btn-italic {
  font-style: italic;
}


/*---------------------------------------
  NAVIGATION              
-----------------------------------------*/
.sidebar {
  background: var(--primary-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 50px 0 0;
}

.sidebar-sticky {
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  position: relative;
}

.navbar {
  background: transparent;
  z-index: 99;
}

.logo-image {
  width: 180px;
  height: auto;
  margin-bottom: 20px;
  border : 10px solid #c12828;
  border-radius: 50%;
  box-shadow : 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sidebarMenu .nav-link {
  color: var(--dark-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  position: relative;
}

#sidebarMenu .nav-link.active, 
#sidebarMenu .nav-link:hover {
  color: var(--white-color);
}

.navbar-toggler {
  background: var(--primary-color);
  border-radius: var(--border-radius-large);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 222;
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 25px;
  width: 55px;
  height: 55px;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: var(--white-color);
  transition: background 10ms 300ms ease;
  display: block;
  margin: auto;
  width: 25px;
  height: 2px;
  position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: var(--white-color);
  width: 25px;
  height: 2px;
  content: '';
}

.navbar-toggler .navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon::after {
  top: 8px;
}


/*---------------------------------------
  HERO        
-----------------------------------------*/
.hero-section {
  /* background-image: url('../images/client-doing-hair-cut-barber-shop-salon.jpg'); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  padding: 50px;
  padding-bottom: 0;
  min-height: 665px;
  border-bottom: 15px solid var(--primary-color);
}

@media screen and (min-width: 991px) {
  .hero-section {
    height: calc(100vh - 0px);
  }
  
}

.hero-section::after {
  content: "";
  background: linear-gradient(90deg, #FDBB2D 0%, #22C1C3 100%);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.65;
}

.hero-section .container {
  position: relative;
  z-index: 2;
}

.custom-block {
  border: 10px solid var(--primary-color);
  border-radius: 100%;
  position: absolute;
  z-index: 2;
  bottom: -60px;
  right: -60px;
  padding: 50px 90px 50px 50px;
  width: 360px;
  height: 360px;
}

.custom-block .custom-btn {
  background: var(--primary-color);
}

.custom-block .custom-btn:hover {
  background: var(--secondary-color);
}

.custom-block-image {
  border: 10px solid var(--primary-color);
  border-radius: 100%;
  position: absolute;
  top: -60px;
  right: 20px;
  left: 0;
  width: 120px;
  height: 120px;
  margin: auto;
  object-fit: cover;
}


/*---------------------------------------
  ABOUT              
-----------------------------------------*/
.about-section h6 {
  color: var(--secondary-color);
}

.about-section .custom-block-bg-overlay-image {
  width: 100%;
  max-height: 300px;
}

.about-section .custom-block-bg-overlay-wrap {
  position: relative;
}

.team-info {
  background: rgba(255,255,255,0.8); /*var(--white-color);*/  
  /*border: 2px solid #fff;*/
  border-radius: var(--border-radius-large);
  position: absolute;
  bottom: 10px;
  height: 40px;
  right: 0;
  left: 0;
  margin: 0px 10px;
  padding: 5px 17px 10px 20px;
  transition: all 0.3s ease;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}


/*---------------------------------------
  FEATURED               
-----------------------------------------*/
.featured-section {
  background-image: url('../images/barber-customer-giving-high-five.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  text-align: center;
}

.featured-section h2 {
  color: var(--secondary-color);
}

.featured-section p {
  color: var(--white-color);
}

.featured-section strong {
  background: var(--primary-color);
  border-radius: var(--border-radius-medium);
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
}


/*---------------------------------------
  SERVICES             
-----------------------------------------*/
.services-thumb {
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
}

.services-thumb:hover .services-info {
  border-color: var(--primary-color);
  border-width: 5px;
}

.services-thumb:hover .services-image {
  transform: scale(1.05);
}

.services-image {
  border-radius: var(--border-radius-medium);
  display: block;
  margin: auto;
  transition: all 0.3s;
}

.services-thumb-price {
  background: var(--primary-color);
  border-radius: var(--border-radius-medium);
  font-size: var(--copyright-font-size);
  margin-left: auto;
  padding: 5px 10px;
}

.services-info {
  border-radius: var(--border-radius-medium);
  border: 1px solid var(--white-color);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 20px;
  padding: 25px 30px;
  transition: all 0.3s ease;
}

.services-info h4 {
  color: var(--white-color);
}


/*---------------------------------------
  PRICE LIST             
-----------------------------------------*/
.price-list-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.price-list-thumb-wrap {
  padding-right: 50px;
}

.price-list-thumb {
  margin-bottom: 10px;
}

.price-list-thumb:last-child {
  margin-bottom: 0;
}

.price-list-thumb h6 strong {
  color: var(--primary-color);
}

.price-list-thumb-divider {
  background: var(--p-color);
  flex: auto;
  height: 2px;
  margin: auto 15px 0;
}

.price-list-section .custom-block-bg-overlay-wrap {
  padding: 0;
}


/*---------------------------------------
  BOOKING               
-----------------------------------------*/
.booking-section {
  background-image: url('../images/vintage-chair-barbershop.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.booking-form {
  background: var(--white-color);
  border-radius: var(--border-radius-medium);
  padding: 65px;
}


/*---------------------------------------
  CONTACT               
-----------------------------------------*/
.google-map {
  border-radius: var(--border-radius-medium);
  filter: hue-rotate(45deg);
}

.contact-block-wrap {
  background: var(--primary-color);
  border-radius: var(--border-radius-medium);
  padding: 0;
  min-height: 200px;
}

.contact-block {
  background: var(--secondary-color);
  border-radius: var(--border-radius-medium);
  transform: rotate(8deg);
  height: 100%;
  padding: 20px 40px;
}

.contact-block h6 {
  transform: rotate(-8deg);
}

.contact-block .custom-icon {
  background: var(--primary-color);
  border-radius: var(--border-radius-large);
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: relative;
}

.contact-block strong {
  display: block;
  color: var(--white-color);
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
}


/*---------------------------------------
  CUSTOM FORM               
-----------------------------------------*/
.custom-form .form-control {
  color: var(--p-color);
  margin-bottom: 24px;
  padding-top: 13px;
  padding-bottom: 13px;
  outline: none;
  transition: all 0.3s;
}

.custom-form .form-control:hover,
.custom-form .form-control:focus {
  background: var(--section-bg-color);
  border-color: transparent;
}

.custom-form #btn_submit {
  background: var(--custom-btn-bg-color);
  border: none;
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-medium);
  transition: all 0.3s;
  margin-bottom: 0;
}

.custom-form #btn_submit:hover,
.custom-form #btn_submit:focus {
  background: var(--custom-btn-bg-hover-color);
  border-color: transparent;
}


/*---------------------------------------
  SITE FOOTER              
-----------------------------------------*/
.site-footer {
  position: relative;
  padding: 80px 50px;
  padding-top: 0;
}

.site-footer::after {
  content: "";
  background: linear-gradient(90deg, #FDBB2D 0%, #22C1C3 100%);
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
}

.site-footer-links {
  padding-left: 0;
}

.site-footer-link-item {
  list-style: none;
  display: inline-block;
  margin-right: 15px;
}

.site-footer strong {
  display: block;
  color: var(--secondary-color);
}

.copyright-text {
  font-size: var(--copyright-font-size);
}


/*---------------------------------------
  SOCIAL ICON               
-----------------------------------------*/
.social-icon {
  margin: 0;
  padding: 0;
}

.social-icon-item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.social-icon-link1 {
  background: rgba(255,255,255,1);
  border-radius: var(--border-radius-large);
  display: block;
  margin: 0px 3px;
  text-align: center;
  width: 36px;
  height: 36px;
  line-height: 32px;
  transition: background 0.2s, color 0.2s;
}

.social-icon-link {
  background: var(--secondary-color);
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--copyright-font-size);
  display: block;
  margin: 0 3px;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 52px;
  transition: background 0.2s, color 0.2s;
}

.social-icon-link1:hover, .social-icon-link:hover {
  background: var(--primary-color);
  color: var(--white-color);
}

.social-icon-link1 span, .social-icon-link span {
  display: block;
}


/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/
@media screen and (max-width: 1200px) {
  h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 46px;
  }

  h2 {
    font-size: 34px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 26px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  .section-padding,
  .hero-section {
    padding: 50px 25px;
  }

  .custom-block {
    display: none;
  }
  
  .navbar {
    background-color: var(--dark-color);
  }

  .navbar-expand-lg .navbar-nav {
    padding-bottom: 30px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
  }

  .booking-form {
    padding: 45px;
  }
}

@media screen and (max-width: 767px) {
  .custom-btn {
    font-size: 14px;
    padding: 10px 20px;
  }
  h1 {
    font-size: 38px;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 20px;
  }

  .services-info h4 {
    font-size: 20px;
  }

  .booking-form {
    padding: 35px;
  }
}

/*============ Canvas Setting ===================*/
.offcanvas {
  width : 280px !important;
  background-color: rgba(0,0,0,0.2);
  backdrop-filter: blur(6px);
}
.offcanvas-start-lg {
  top          : 0;
  left         : 0;
  border-right : 1px solid rgba(200, 200, 200, .2);
  transform    : translateX(-100%);
}

.navbar-nav li a {
  margin-left: 15px;
  color: #eeeeee !important;
  transition: 0.3s;
}
.navbar-nav li a:hover {
  color: #59fce1 !important;
  text-shadow: 1px 1px 10px #fff;
}

.navbar-nav li .subItem {
  color: #efff73 !important;
  background-color: rgba(0, 0, 0, 0);
  font-size: 16px;
}

.navbar-nav li ul{
  background-color: rgba(0, 0, 0, 0);
  border:none;
  
}

.offcanvas-header{
  background: var(--priCol);
  background: linear-gradient(155deg, var(--priCol) 35%, var(--secCol) 80%);
}

.offcanvas-header img{
  width:60px; 
  border-radius:50%; 
  border:2px solid #ffffff;
}

.offcanvas-header h6{
  color:#744a0c;
}

.offcanvas-header i{
  position: absolute; 
  left: 70px; 
  top: 75px; 
  cursor: pointer; 
  color:#ffffff;
}
 /*==================================== table =====================================*/
 .list-table{
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3), 0 4px 15px 0 rgba(0, 0, 0, 0.1);   
  border-radius : 0 0 15px 15px; 
}

.list-table th{
  font-size: 0.8rem; 
  font-weight: 400;
  color:rgb(255, 255, 255); 
  border:none;
  background-color:var(--primary-color);
}

.list-table .sort-hd{
  cursor: pointer;
  color:rgb(255, 255, 255); 
  transition: 0.3s;  
}

.list-table .sort-hd:hover{
  color:rgb(252, 255, 59); 
}


.list-table td{
  font-size: 0.75rem; 
  font-weight: 400;  
  /*color:black; */
  border:none; 
}

.list-table tr{
  height: 20px;
  transition: 0.3s;
}

/*.list-table tr:nth-child(even) {background-color:#FAF0E4;}*/
#usertable tr:nth-child(even) {background-color:#FAF0E4;}
#typeTable tr:nth-child(even), #shelfTable tr:nth-child(even),#productTable tr:nth-child(even),#stockTable tr:nth-child(even),
#saleTable tr:nth-child(even) {background-color:#e8e8e8;}
/*#commTable tr:nth-child(1) {
  background-color:var(--primary-color);
}*/
#commTable tr:nth-child(even) {background-color:#FAF0E4;}
#commTable tr:hover{
  background-color:#fde4ea;
}
/*====== End table */

/*======================================= Pagination =======================================*/

.pagination a{
color: #884A39;
font-size: 12px; 
/*float: left;*/
height: 28px;
padding: 5px 8px;
text-decoration: none;
transition: background-color .3s;
background-color: #ECCDB4;
margin: 0 2px;
}

.pagination a.active {
background-color:#9BCDD2;
color: #ffffff;
border: 1px solid #75f321;
content: none;
}

.pagination a:hover:not(.active) {
  color: #ffffff;
background-color:#FF8551;
}
/*====== End Pagination */

.fn_name{
  color: #884A39;
  font-size: 1.1rem;
  font-weight: bold;
  padding:10px 25px 5px 15px;
  margin-bottom: 5px;
  border: 3px solid #ffffff;
  outline: 1px solid #c0c0c0;
  border-radius : 20px 20px 0 0; 
  /*display: block;
    text-align: center;*/
}

.b-success{
  color: #ffffff;
  border: none;
  background-color: #9BCDD2; 
  width: 40px; 
  transition: 0.3s;
}

.b-add{
  color: #ffffff;
  background-color: #A4D0A4;  
  border: none;
  width: 40px;
  transition: 0.3s;
}

.b-back{
  color: #ffffff;
  background-color: #FEA1A1;  
  border: none;
  width: 40px;
  transition: 0.3s;
}

.b-success:hover, .b-add:hover, .b-back:hover, .b-top:hover{
 color: #884A39;
}
.b-top{
  color: #ffffff;
  background-color: #FEA1A1;  
  border: none;
  position:absolute; 
  right:10px; 
  top:10px; 
  z-index:1; 
  height:28px; 
  width:28px;
  transition: 0.3s;
}

.b-success:disabled, .b-add:disabled, .b-back:disabled, .b-top:disabled {
  background: #dddddd;
  color: #727272;
}

/*====================== myWaiting ==========================*/
/*============ Loading ================*/
.spinner {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 
 .dot1, .dot2, .dot3 {
  width: 15px;
  height: 15px;
  border: double;
  border-color: white;
  border-radius: 50%;
  margin: 10px;
 }
 
 .dot1 {
  animation: jump765 1.6s -0.32s linear infinite;
  background: #FEA1A1;
 }
 
 .dot2 {
  animation: jump765 1.6s -0.16s linear infinite;
  background: #FEA1A1;
 }
 
 .dot3 {
  animation: jump765 1.6s linear infinite;
  background: #FEA1A1;
 }
 
 @keyframes jump765 {
  0%, 80%, 100% {
   -webkit-transform: scale(0);
   transform: scale(0);
  }
 
  40% {
   -webkit-transform: scale(2.0);
   transform: scale(2.0);
  }
 }
 
.myWaiting{  
  position: absolute;
  left: 0;
  top: 0;
  z-index:200;
  width:100%; 
  height: 100%; 
  background-color: #ffffff;
  background-color: rgba(255,255,255,0.80);
}
.myWaiting .spinner{
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);

}

.mybtn{  
  border : 1px solid #808080;
  padding : 6px;
  border-radius : 20px;
  transition: 0.3s;
  outline: 1px solid #ffffff;
  outline-offset: 3px;
}

.btnOk{
  width: 80px;
  height: 36px;
  color :#ffffff;
  background: #9BCDD2;
}
.btnOk:hover{
  color:#ffffff;
  background: #FF8551;
  outline: 3px solid #ddd;
}

.btnCan{
  width: 80px;
  height: 36px;
  color :#ffffff;
  background: #FEA1A1;
}
.btnCan:hover{
  color:#ffffff;
  background: #FF8551;
  outline: 3px solid #ddd;
}

.btnSuc{
  width: 80px;
  height: 36px;
  color :#ffffff;
  background: #A4D0A4;
}
.btnSuc:hover{
  color:#ffffff;
  background: #FF8551;
  outline: 3px solid #ddd;
}

.btnSuc:focus, .btnOk:focus, .btnCan:focus{
  color:#ffffff;
  outline: 3px solid #4eaae794;
}

/*============ Upload pic =========================*/
.camera{
  position: absolute;
  font-size : 1.1rem;
  color : #606060;
  border : 3px solid #606060;
  border-radius : 50%;
  width : 34px;
  height : 34px;
  text-align : center;
  transition : 0.3s;
  cursor : pointer;
  z-index : 10;
  right: 15px;
  bottom: 0px;
}
.camera i{
  position : absolute;
  left:5px;
  top:5px;
}
.camera:hover{
  color : #a07050;
  border : 3px solid #a07050;        
}

.resetPass{
  position: absolute;
  font-size : 1.1rem;
  color : #606060;
  border : 3px solid #606060;
  border-radius : 50%;
  width : 34px;
  height : 34px;
  text-align : center;
  transition : 0.3s;
  cursor : pointer;
  z-index : 10;
  right: 15px;
  bottom: 50px;
}
.resetPass i{
  position : absolute;
  left:5px;
  top:5px;
}
.resetPass:hover{
  color : #a07050;
  border : 3px solid #a07050;        
}

.fitText{
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*==============  Table for Select =============================*/
.tableSelect{
  /*position: relative;*/
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  /*box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3), 0 4px 15px 0 rgba(0, 0, 0, 0.1);   */
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  /*width: 65%;*/
  height: 500px;
  position: absolute;
  top : 40px;
  z-index: 1;
  /*top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
}

.tableFixHead {
  overflow-y: auto;
  
}
.tableFixHead thead th {
  position: sticky; 
  top: 0px; 
}
.list-selTable{
  background-color: rgb(255, 255, 255);
}

.list-selTable th{
  font-size: 0.8rem; 
  font-weight: 400;
  color:rgb(255, 255, 255); 
  border:none;
  background-color:var(--primary-color);
}

.list-selTable td{
  font-size: 0.75rem; 
  font-weight: 400;  
  /*color:black; */
  border:none; 
}

.list-selTable tr{
  transition: 0.3s;
  cursor: pointer;
}

.list-selTable tr:nth-child(even){
  background-color:#e8e8e8;
}

.list-selTable tr:hover{
  background-color:#aeffc9;
}

/*============================= Main Form ========================================*/
.main_form {
  /*background-color: rgb(248, 190, 135);*/
  background: rgb(208,228,227);
  background: linear-gradient(155deg, rgba(200,220,220,1) 35%, rgba(250,180,100,1) 80%);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  /*border: 2px solid rgb(253, 203, 169);
  outline: solid 1px rgb(255, 239, 228);
  outline-offset: -5px;*/
  border-radius: 0 0 20px 20px;

}
.main_form .main_form_head{
  color : #884A39;  
  font-size:1.5rem; 
  font-weight: 600;
  text-shadow: 2px 2px 4px #fff;
  text-align: center;
}

/*=============== Main page ===============================*/
.ele-fn{  
  color: #6d4408;
  width: 150px;
  height: 150px;
  background: rgb(208,228,227);
  background: linear-gradient(180deg, rgb(255, 255, 255) 20%, rgb(235, 189, 137) 80%);
  box-shadow: rgba(14, 30, 37, 0.22) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  text-align: center;
  padding-top: 20px;
  /*border: 1px solid #000000;*/
  border-radius: 20px 0 20px 0;
  outline: solid 2px rgba(104, 37, 7, 0.2);
  outline-offset: -8px;
  cursor: pointer;
  transition: 0.3s;
}
.ele-fn i{
  padding-top : 6px;
  font-size: 3.4rem;
  transition: 0.3s;
}
.ele-fn a{
  font-size: 1rem;
  font-weight: 600;
  padding-top : 18px;
  transition: 0.4s;
}

.ele-fn:hover i{    
  font-size: 4.4rem;
}
.ele-fn:hover a{    
  padding-top : 10px;
  font-size: 1.2rem;
}

.ele-fn:hover{   
 box-shadow: rgba(35, 196, 218, 0.9) 0px 2px 4px 0px, rgba(106, 229, 233, 0.75) 0px 2px 16px 0px,
  rgba(98, 224, 186, 0.6) 0px 2px 24px 0px;
}


/*================== Table Scroll ==================================================*/
.table-scroll {
  position: relative;
  width:100%;
  z-index: 1;
  margin: auto;
  overflow: auto;
  height: 420px;
  padding-bottom: 10px;
}
.table-scroll table {
  width: 100%;
  min-width: 700px;
  margin: auto;
}
.table-wrap {
  position: relative;
}
.table-scroll th,
.table-scroll td {
  vertical-align: top;
}
.table-scroll thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
/* safari and ios need the tfoot itself to be position:sticky also */
.table-scroll tfoot,
.table-scroll tfoot th,
.table-scroll tfoot td {
  position: -webkit-sticky;
  position: sticky;
  bottom: -9px;
  z-index:4;
}
